<list>
    <thread-data name="thread-1">
        <transactions>
            <transaction id="1" type="PERSIST">
                <data>
                    <player>
                        <firstname>Steffen</firstname>
                        <lastname>Zack</lastname>
                    </player>
                    <player>
                        <firstname>Ederson</firstname>
                    </player>
                    <player>
                        <firstname>Carson</firstname>
                        <lastname>Scott</lastname>
                    </player>
                    <player>
                        <firstname>Muric</firstname>
                        <lastname>Arijanet</lastname>
                    </player>
                    <player>
                        <firstname>Walker</firstname>
                        <lastname>Kyle</lastname>
                    </player>
                    <player>
                        <firstname>Dias</firstname>
                        <lastname>Ruben</lastname>
                    </player>
                    <player>
                        <firstname>Stones</firstname>
                        <lastname>John</lastname>
                    </player>
                    <player>
                        <firstname>Ake</firstname>
                        <lastname>Nathan</lastname>
                    </player>
                    <player>
                        <firstname>Angelino</firstname>
                    </player>
                    <player>
                        <firstname>Laporte</firstname>
                        <lastname>Aymeric</lastname>
                    </player>
                    <player>
                        <firstname>Mendy</firstname>
                        <lastname>Benjamin</lastname>
                    </player>
                </data>
            </transaction>
            <transaction id="4" type="MERGE">
                <data>
                    <player id="15">
                        <firstname>Thread1</firstname>
                    </player>
                </data>
            </transaction>
        </transactions>
    </thread-data>

    <thread-data name="thread-2">
        <transactions>
            <transaction id="2" type="PERSIST">
                <data>
                    <player>
                        <firstname>Cancelo</firstname>
                        <lastname>Joao</lastname>
                    </player>
                    <player>
                        <firstname>Sandler</firstname>
                        <lastname>Phillippe</lastname>
                    </player>
                    <player>
                        <firstname>Garcia</firstname>
                        <lastname>Eric</lastname>
                    </player>
                    <player>
                        <firstname>Gundogan</firstname>
                        <lastname>Ilkay</lastname>
                    </player>
                    <player>
                        <firstname>Zinchenko</firstname>
                        <lastname>Oleksandr</lastname>
                    </player>
                    <player>
                        <firstname>Rodrigo</firstname>
                    </player>
                    <player>
                        <firstname>De Bruyne</firstname>
                        <lastname>Kevin</lastname>
                    </player>
                    <player>
                        <firstname>Silva</firstname>
                        <lastname>Bernardo</lastname>
                    </player>
                    <player>
                        <firstname>Fernandinho</firstname>
                    </player>
                    <player>
                        <firstname>Riyad</firstname>
                        <lastname>Mahrez</lastname>
                    </player>
                    <player>
                        <firstname>Foden</firstname>
                        <lastname>Phil</lastname>
                    </player>
                    <player>
                        <firstname>Roberts</firstname>
                        <lastname>Patrick</lastname>
                    </player>
                    <player>
                        <firstname>Sterling</firstname>
                        <lastname>Raheem</lastname>
                    </player>
                </data>
            </transaction>
            <transaction id="5" type="MERGE">
                <data>
                    <player id="15">
                        <firstname>Thread2</firstname>
                    </player>
                </data>
            </transaction>
        </transactions>
    </thread-data>

    <thread-data name="thread-3">
        <transactions>
            <transaction id="3" type="PERSIST">
                <data>
                    <player>
                        <firstname>Jesus</firstname>
                        <lastname>Gabriel</lastname>
                    </player>
                    <player>
                        <firstname>Aguero</firstname>
                        <lastname>Sergio</lastname>
                    </player>
                    <player>
                        <firstname>Torres</firstname>
                        <lastname>Ferran</lastname>
                    </player>
                    <player>
                        <firstname>De Gea</firstname>
                        <lastname>David</lastname>
                    </player>
                    <player>
                        <firstname>Grant</firstname>
                        <lastname>Lee</lastname>
                    </player>
                    <player>
                        <firstname>Romero</firstname>
                        <lastname>Sergio</lastname>
                    </player>
                    <player>
                        <firstname>Henderson</firstname>
                        <lastname>Dean</lastname>
                    </player>
                    <player>
                        <firstname>Pereira</firstname>
                        <lastname>Joel</lastname>
                    </player>
                    <player>
                        <firstname>Lindelof</firstname>
                        <lastname>Victor</lastname>
                    </player>
                    <player>
                        <firstname>Bailly</firstname>
                        <lastname>Eric</lastname>
                    </player>
                    <player>
                        <firstname>Jones</firstname>
                        <lastname>Phil</lastname>
                    </player>
                    <player>
                        <firstname>Maguire</firstname>
                        <lastname>Harry</lastname>
                    </player>
                    <player>
                        <firstname>Dalot</firstname>
                        <lastname>Diogo</lastname>
                    </player>
                    <player>
                        <firstname>Shaw</firstname>
                        <lastname>Luke</lastname>
                    </player>
                </data>
            </transaction>
            <transaction id="6" type="MERGE">
                <data>
                    <player id="15">
                        <firstname>Thread3</firstname>
                    </player>
                </data>
            </transaction>
        </transactions>
    </thread-data>
</list>